<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8" />
                <title>
                    Templating With PDF Conversion
                </title>
                <meta name="description" content="Latest updates and statistic charts">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                
                <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
                <!--begin::Web font -->
                <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
               
                <!--end::Web font -->
                <!--begin::Base Styles -->
                <!--begin::Page Vendors -->
                <link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
                <!--end::Page Vendors -->
                <link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
                <link href="assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
                <!--end::Base Styles -->
                <link rel="shortcut icon" href="assets/demo/default/media/img/logo/favicon.png" />
                <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
                <link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
                <style>
                        ul.m-menu__nav.m-menu__nav--dropdown-submenu-arrow {
                           display: none;
                       }
                       button#m_aside_left_close_btn {
                           display: none;
                       }
                       ul.breadcrumb.row {
                           display: none;
                       }
                       .initial-client-btn.mb-1 {
                           /* border: 2px solid #000; */
                           margin-top: 13px;
                       }
                       body.m-page--fluid.m--skin-.m-content--skin-light2.m-header--fixed.m-header--fixed-mobile.m-aside-left--enabled.m-aside-left--skin-dark.m-aside-left--offcanvas.m-footer--push.m-aside--offcanvas-default {
                           padding: 13px 39px;
                       }
                       .eventlog-ctos-number {
                           width: 483px;
                           padding: 11px 20px 0px;
                           height: 74px;
                           text-align: right;
                           /* width: 100%; */
                           margin-left: 0px;
                           background: #1AAA98;
                           /* margin-top: 0px; */
                           border-top-left-radius: 38px;
                           border-bottom-left-radius: 38px;
                           line-height: 15px;
                       }
                       p.info-para-2 {
                           background: #e7e7e7;
                           width: 71%;
                       }
                       .client-info-panel label {
                           width: 44%;
                       }
                       p.info-para-2 {
                           background: #e7e7e770;
                           width: 74%;
                           height: auto;
                           padding: 9px;
                       }
                       .information-table.display-table.mt-0 {
                           margin: 20px 0px !important;
                       }
                       .IR-section.IR-section-2 {
                           margin: 30px 0px;
                       }
                       .QA-section p {
                           background: #e7e7e7;
                           padding: 19px;
                       }
                       .IR-content {
                           background: #e7e7e769;
                           padding: 27px 24px 0px;
                           margin-bottom: 26px;
                       }
                       .heading-width p.info-para-2 {
                           width: 31%;
                       }
                       .radio-btn {
                           width: 22%;
                           display: inline-flex;
                           /* margin: 10px; */
                       }
                       .custom-control.custom-radio {
                           margin: 0px 10px;
                       }
                       .content-2 label {
                           width: 47%;
                       }
                       .content-2 p.info-para-1 {
                           width: 50%;
                           float: right;
                       }
                       .qa-section-1 .content-2 {
                           padding: 20px 6px;
                       }
                       .qa-section-2 .content-2 {
                           padding: 24px 24px 32px;
                       }
                       .content-2 p.info-para-1 {
                           width: 50%;
                           float: right;
                           background: #e7e7e770;
                           padding: 9px;
                       }
                       .qa-container.row.mx-0 {
                           background: #e7e7e769;
                       }
                       table p.info-para-2 {
                           background: #e7e7e770;
                           width: 100%;
                           height: auto;
                           padding: 9px;
                       }
                       .m-container.m-container--fluid.m-container--full-height {
                           margin: 10px 39px;
                       }
                       .heading-width-1 label {
                           width: 54%;
                       }
                       .client-info-panel.heading-width label {
                           width: 27%;
                       }
                       #headingdisplay12 {
                           color: crimson
                       }
                    </style>
           
            </head>
        
<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" >
<main>
        <section class="function-body ncl-screen">
                <form>
                    <div class="client-update form table-for-display pt-4 pb-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingdisplay12">
                                            <p class="mb-0">
                                                EJS Templating With PDF Conversion <i class="fas fa-angle-down rotate-icon"></i>
                                            </p>
                                        </div>
                                                                    
                                        <div id="collapsedisplay1" class="collapse show" role="tabpanel" aria-labelledby="headingdisplay1" data-parent="#accordionEx">
                                            <div class="card-body">
                                                <div class="IR-section IR-section-2 pt-4 pb-4">
                    
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                                            <div class="client-info-pt-1">
                                                                <div class="client-info-panel d-md-flex d-sm-block">
                                                                    <label>Revision Number</label>
                                                                    <p class="info-para-2"> <%= details.ctos_id.reference_number %></p>
                                                                </div>
                                                                <div class="client-info-panel d-md-flex d-sm-block">
                                                                    <label>Version Number</label>
                                                                    <p class="info-para-2"><%= details.ctos_id.revision_number %></p>
                                                                </div>
                                                                <div class="client-info-panel d-md-flex d-sm-block">
                                                                    <label>Is Sample Creation?</label>
                                                                    <p class="info-para-2"><%= details.ctos_id.data.is_contract_executed %></p>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    
                                                
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                                                            <div class="client-info-pt-2">
                                                                <div class="client-info-panel d-md-flex d-sm-block ">
                                                                    <label>Client Name</label>
                                                                    <p class="info-para-2"><%= details.ctos_id.data.client_name %></p>
                                                                </div>
                                                                <div class="client-info-panel d-md-flex d-sm-block">
                                                                    <label>Study Name</label>
                                                                    <p class="info-para-2"><%= details.ctos_id.data.study_name %></p>
                                                                </div>
                                                            
                                                                <div class="client-info-panel d-md-flex d-sm-block">
                                                                    <label>Product Description </label>
                                                                    <p class="info-para-2"><%= details.ctos_id.data.product_info.product_description %></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="IR-content pr-4 pt-4 mb-4 pb-1">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 pl-3">
                                                                <div class="client-info-pt-1 pl-4">
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Secondary Requirements </label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.outbound.secondary_labeling_requirement %></p>
                                                                    </div>
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Specific Requirements</label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.outbound.specific_labeling_requirement %></p>
                                                                    </div>
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Is Secondary Activity anticipated?</label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.destruction.secondary_labeling.is_activity_anticipated %></p>
                                                                    </div>
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Anticipated type of Secondary Activity</label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.destruction.secondary_labeling.anticipated_type_of_labeling %></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 pl-3">
                                                                <div class="client-info-pt-2 pl-4">
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Status Required by Client, for Products to be Labelled?</label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.inbound.quarantine_status_required_by_client %></p>
                                                                    </div>
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Documents Required </label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.destruction.secondary_labeling.required_documents %></p>
                                                                    </div>
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>Specific Instructions</label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.destruction.secondary_labeling.specific_instruction_labeling %></p>
                                                                    </div>
                                                                    <div class="client-info-panel d-md-flex d-sm-block">
                                                                        <label>F2 Supervisor Comments</label>
                                                                        <p class="info-para-2"><%= details.ctos_id.data.supervisor_comments %></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="IR-content pr-4 pl-4 pt-4 mb-4 pb-1">
                                                        <h2>Secondary Contact</h2>
                                                        <div class="information-table table-view-2">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover table-view">
                                                                    <thead>
                                                                        <tr class="table-row">
                                                                            <th>Contact Name</th>
                                                                            <th>Contact Position</th>
                                                                            <th>Contact Email Address</th>
                                                                            <th>Contact Phone Number</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="table-row-1 table-row-padding">
                                                                            <td> <p class="info-para-2"><%= details.ctos_id.data.outbound.type_of_order_request_raised_info.authorised_name_1 %></p></td>
                                                                            <td> <p class="info-para-2"><%= details.ctos_id.data.outbound.type_of_order_request_raised_info.contact_position_1 %></p></td>
                                                                            <td> <p class="info-para-2"><%= details.ctos_id.data.outbound.type_of_order_request_raised_info.contact_email_1 %></p></td>
                                                                            <td> <p class="info-para-2"><%= details.ctos_id.data.outbound.type_of_order_request_raised_info.contact_number_1 %></p></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>          
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>               
                        </form> 
                    </section>
</main>
</body>
</html>